S3_LOGS_BUCKET=chrispsheehan.com.logs
S3_LOGS_MAX_FILES=5

PROCESSED_LOG_FILES_TABLE=local_processed_log_files
DYNAMODB_AWS_REGION=local
DYNAMODB_ENDPOINT=http://localhost:8000

AWS_PAGER=""
AWS_REGION=eu-west-2
