API_PORT=9000

PROCESSED_LOG_FILES_TABLE=local_processed_log_files

AWS_PAGER=""
AWS_ACCESS_KEY_ID=DUMMYIDEXAMPLE
AWS_SECRET_ACCESS_KEY=DUMMYEXAMPLEKEY
AWS_REGION=local
DYNAMODB_AWS_REGION=$AWS_REGION